<div >
  <h1><%= @category.name %></h1>

    <% if can? :manage, Category %>
      <%= link_to 'Edit', edit_category_path(@category) %> 
      <%= link_to 'Back', categories_path %>
      <%= link_to 'Remove', @category, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to 'Back', categories_path %>
    <% end %>
</div>