<h3>Create Product </h3>
<%= form_with model: @product do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :price, placeholder: "price" %>
  <%= collection_select(:product, :category_id, Category.all, :id, :name, prompt: true)%>
  <%= form.submit %>
<% end %>
<hr>
<%= link_to 'Back', products_path %>